.modal{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: inherit;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 9999;
}
